<table class="table table-dark">
	<thead>
		<tr>
			<th scope="col">No</th>
			<th scope="col">Name</th>
			<th scope="col">Time</th>
			<th scope="col">Phone</th>
			<th scope="col">Specialist</th>
			<th scope="col">Color</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>﻿alex</td>
			<td>1435161</td>
			<td>12:30</td>
			<td>пьер</td>
			<td>blue</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>oleg</td>
			<td>61171</td>
			<td>13:30</td>
			<td>жан</td>
			<td>green</td>
		</tr>
	</tbody>
</table>
