<table class="table table-dark">
	<thead>
		<tr>
			<th scope="col">No</th>
			<th scope="col">Name</th>
			<th scope="col">Time</th>
			<th scope="col">Phone</th>
			<th scope="col">Specialist</th>
			<th scope="col">Color</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>﻿Alex</td>
			<td>96505443</td>
			<td>12:30</td>
			<td>Жан</td>
			<td>Bold blue</td>
		</tr>
	</tbody>
</table>
